sbpro-card
    .card-header Date Range Picker
    .card-body
        .sbp-preview
            .sbp-preview-content.bg-light

                    sbpro-date-range-quick(placement='bottom-start')

            .sbp-preview-code
                sbpro-code-sample(
                    [codeSamples]='codeSamples',
                )

            .sbp-preview-text
                p.
                    <code>sbpro-date-range-quick</code> is a custom Start Bootstrap component built 
                    from NG Bootstrap Datepicker
                a.btn.btn-secondary.btn-sm.me-2(href='https://ng-bootstrap.github.io/#/components/datepicker/overview', target='_blank')
                    i-feather.me-1(name='external-link')
                    | Visit NG Bootstrap Datepicker Docs
