sbpro-card
    .card-header Custom Gradient Background
    .card-body
        .border.border-lg.rounded
            .p-4.border-bottom
                .bg-gradient-primary-to-secondary.text-white.p-3.py-10 .bg-gradient-primary-to-secondary
            .bg-light.p-4.small
                | The custom gradient background is being used in the page headers, and can be applied anywhere you would use a normal background color utility.
