.card.card-waves.mb-4.mt-5
    .card-body.p-5
        .row.gx-4.align-items-center.justify-content-between
            .col
                h2.text-primary Welcome back, your dashboard is ready!
                p.text-gray-700 Great job, your affiliate dashboard is ready to go! You can view sales, generate links, prepare coupons, and download affiliate reports using this dashboard.
                a.btn.btn-primary.p-3(href="javascript:void(0);")
                    | Get Started
                    i-feather.ms-1(name='arrow-right')
            .col.d-none.d-lg-block.mt-xxl-n4
                img.img-fluid.px-xl-4.mt-xxl-n5(src='assets/img/illustrations/statistics.svg')
