<div class="card card-waves mb-4 mt-5">
    <div class="card-body p-5">
        <div class="row gx-4 align-items-center justify-content-between">
            <div class="col">
                <h2 class="text-primary">Welcome back, your dashboard is ready!</h2>
                <p class="text-gray-700">Great job, your affiliate dashboard is ready to go! You can view sales, generate links, prepare coupons, and download affiliate reports using this dashboard.</p>
                <a class="btn btn-primary p-3" href="javascript:void(0);">Get Started<i-feather class="ms-1" name="arrow-right"></i-feather></a>
            </div>
            <div class="col d-none d-lg-block mt-xxl-n4"><img class="img-fluid px-xl-4 mt-xxl-n5" src="assets/img/illustrations/statistics.svg" /></div>
        </div>
    </div>
</div>
