.card.mb-4
    .card-header.border-bottom-0
        | Affiliate Reports
    .list-group.list-group-flush.small
        a(href='javascript:void(0);').list-group-item.list-group-item-action
            fa-icon.fa-fw.text-blue.me-2([icon]='["fas", "dollar-sign"]')
            | Earnings Reports
        a(href='javascript:void(0);').list-group-item.list-group-item-action
            fa-icon.fa-fw.text-purple.me-2([icon]='["fas", "tag"]')
            | Average Sale Price
        a(href='javascript:void(0);').list-group-item.list-group-item-action
            fa-icon.fa-fw.text-green.me-2([icon]='["fas", "mouse-pointer"]')
            | Engagement (Clicks &amp; Impressions)
        a(href='javascript:void(0);').list-group-item.list-group-item-action
            fa-icon.fa-fw.text-yellow.me-2([icon]='["fas", "percentage"]')
            | Conversion Rate
        a(href='javascript:void(0);').list-group-item.list-group-item-action
            fa-icon.fa-fw.text-pink.me-2([icon]='["fas", "chart-pie"]')
            | Segments
    .card-footer.border-top-0
        a(href='javascript:void(0);').text-xs.d-flex.align-items-center.justify-content-between
            | View More Reports
            i.fas.fa-long-arrow-alt-right
            fa-icon([icon]='["fas", "long-arrow-alt-right"]')
