.card.card-header-actions.mb-4
    .card-header
        | Projects
        a.small.text-arrow-icon(href='javascript:void(0);')
            | Create New
            i-feather(name='arrow-right')
    .card-body
        // Progress item 1
        .d-flex.align-items-center.justify-content-between.small.mb-1
            .fw-bold Server Setup
            .small 25%
        .progress.mb-3
            .progress-bar.bg-danger(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')

        // Progress item 2
        .d-flex.align-items-center.justify-content-between.small.mb-1
            .fw-bold Database Migration
            .small 50%
        .progress.mb-3
            .progress-bar.bg-warning(role='progressbar', style='width: 50%', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100')

        // Progress item 3
        .d-flex.align-items-center.justify-content-between.small.mb-1
            .fw-bold Version Release
            .small 75%
        .progress.mb-3
            .progress-bar.bg-primary(role='progressbar', style='width: 75%', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')

        // Progress item 4
        .d-flex.align-items-center.justify-content-between.small.mb-1
            .fw-bold Product Listings
            .small 100%
        .progress
            .progress-bar.bg-success(role='progressbar', style='width: 100%', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100')
