.card.h-100
    .card-header Sales Reporting
    .card-body
        sb-charts-bar(duration='quarterly')
    .card-footer
        a(href='javascript:void(0);').text-xs.d-flex.align-items-center.justify-content-between
            | View More Reports
            i.fas.fa-long-arrow-alt-right
