a.dropdown-item.dropdown-notifications-item([routerLink]='')
    img.dropdown-notifications-item-img([src]='message.image')
    .dropdown-notifications-item-content
        .dropdown-notifications-item-content-text
            | {{message.text}}
        .dropdown-notifications-item-content-details
            | {{message.details}}
