sbpro-card
    .card-header Default Bootstrap Border Radius Sizes
    .card-body
        .border.border-lg.rounded
            .p-4.border-bottom
                .bg-primary.text-white.rounded-sm.p-3.mb-3 .rounded-sm
                .bg-primary.text-white.rounded.p-3.mb-3 .rounded
                .bg-primary.text-white.rounded-lg.p-3 .rounded-lg
            .bg-light.p-4.small.
                You can set the border radius sizes in by changes their respective SCSS variables in the <code>src/styles/sb-admin-pro/variables/_colors.scss</code> file.
