sbpro-layout-dashboard([static]='true', [light]='true')
    sbpro-dashboard-head(
        icon='layout',
        title='Static Navigation',
        description='Remove the fixed layout class from the body element for a scrollable, static layout option'
    )

    .container-xl.px-4.mt-n10
        
        .card.mb-4
            .card-header Static Navigation Example
            .card-body
                p.mb-0.
                    This page is an example of using static navigation.
                    <br>
                    By adding the <code>[static]='true'</code> attribute to the <code>&lt;sbpro-layout-dashboard&gt;</code> element,
                    the top navigation and side navigation will remain static in their positioning.
        
        .text-center.text-muted.font-italic.small
             | Scroll down to see example...
             .mt-2
                fa-icon.fa-3x.text-gray-400([icon]='["far", "arrow-alt-circle-down"]')
        
        div(style='height: 100vh;')
