sbpro-card
    .card-header Basic Timeline
    .card-body
        .sbp-preview
            .sbp-preview-content

                sbpro-timeline(
                    [timeline]='timeline'
                )

            .sbp-preview-code
                sbpro-code-sample(
                    [codeSamples]='codeSamples',
                )

            .sbp-preview-text.
                The <code>sbpro-timeline</code> component allows you to display content within a sequence. 
                The timeline also includes a marker, a field to the left of the marker for a date, 
                and a line connecting the markers. 
                This is a custom component designed specifically for use in the SB Admin Pro theme.

