footer.footer-admin.mt-auto(
    [ngClass]='{"footer-light": !dark, "footer-dark": dark}'
)
    .container-fluid.px-4
        .row.gx-4
            .col-md-6.small
            .col-md-6.text-md-end.small
                | Copyright &copy; Obnoxious Tenant 2022
