<div class="card h-100">
    <div class="card-header">Traffic Sources</div>
    <div class="card-body">
        <div class="chart-pie mb-4"><sb-charts-pie></sb-charts-pie></div>
        <div class="list-group list-group-flush">
            <div class="list-group-item d-flex align-items-center justify-content-between small px-0 py-2">
                <div class="me-3"><fa-icon class="me-1 text-blue" [icon]='["fas", "circle"]'></fa-icon>Direct</div>
                <div class="fw-500 text-dark">55%</div>
            </div>
            <div class="list-group-item d-flex align-items-center justify-content-between small px-0 py-2">
                <div class="me-3"><fa-icon class="me-1 text-purple" [icon]='["fas", "circle"]'></fa-icon>Social</div>
                <div class="fw-500 text-dark">15%</div>
            </div>
            <div class="list-group-item d-flex align-items-center justify-content-between small px-0 py-2">
                <div class="me-3"><fa-icon class="me-1 text-green" [icon]='["fas", "circle"]'></fa-icon>Referral</div>
                <div class="fw-500 text-dark">30%</div>
            </div>
        </div>
    </div>
</div>
