sbpro-card
    .card-header Border Colors
    .card-body
        h6.small.text-muted.fw-500 Bootstrap Default State Colors:
        .border.border-lg.rounded.mb-4
            .p-4.border-bottom
                .row.gx-4
                    .col-6
                        .bg-light.border.border-primary.p-3.mb-3 .border-primary
                        .bg-light.border.border-secondary.p-3.mb-3 .border-secondary
                        .bg-light.border.border-success.p-3.mb-3 .border-success
                        .bg-light.border.border-danger.p-3.mb-3 .border-danger
                        .bg-light.border.border-warning.p-3 .border-warning
                    .col-6
                        .bg-light.border.border-info.p-3.mb-3 .border-info
                        .bg-light.border.border-light.p-3.mb-3 .border-light
                        .bg-light.border.border-dark.p-3.mb-3 .border-dark
                        .bg-light.border.border-white.p-3 .border-white
            .bg-light.p-4.small
                | Bootstrap's state specific border colors can be used in unison with the additive or subtractive border utilities above.
        h6.small.text-muted.fw-500 Extended Border Colors:
        .border.border-lg.rounded.mb-4
            .p-4.border-bottom
                .row.gx-4
                    .col-6
                        .bg-light.border.border-red.p-3.mb-3 .border-red
                        .bg-light.border.border-orange.p-3.mb-3 .border-orange
                        .bg-light.border.border-yellow.p-3.mb-3 .border-yellow
                        .bg-light.border.border-green.p-3.mb-3 .border-green
                        .bg-light.border.border-teal.p-3 .border-teal
                    .col-6
                        .bg-light.border.border-cyan.p-3.mb-3 .border-cyan
                        .bg-light.border.border-blue.p-3.mb-3 .border-blue
                        .bg-light.border.border-indigo.p-3.mb-3 .border-indigo
                        .bg-light.border.border-purple.p-3.mb-3 .border-purple
                        .bg-light.border.border-pink.p-3 .border-pink
            .bg-light.p-4.small
                | SB Admin Pro's expanded color system allows you to use non-contextual border colors instead of state specific ones.
