sbpro-dashboard-head-compact(
    title='Account Settings - Notifications',
    icon='user'
)

// Main page content
.container-xl.px-4.mt-4
    // Account page navigation
    nav.nav.nav-borders
        a.nav-link(routerLink='/dashboard/account/profile') Profile
        a.nav-link(routerLink='/dashboard/account/security') Security
        a.nav-link.active(routerLink='/dashboard/account/notifications') Notifications
    hr.mt-0.mb-4
    .row.gx-4
        .col-lg-8
            // Email notifications preferences card
            .card.mb-4
                .card-header Email Notifications
                .card-body
                    form
                        // Form Group (default email)
                        .mb-3
                            label(for='inputNotificationEmail').small.mb-1 Default notification email
                            input#inputNotificationEmail.form-control(type='email', value='name@example.com', disabled)
                        // Form Group (email updates checkboxes)
                        .mb-0
                            label.small.mb-1 Choose which types of email updates you receive
                            .form-check
                                input#checkAccountChanges.form-check-input(type='checkbox', checked)
                                label.form-check-label(for='checkAccountChanges') Changes made to your account
                            .form-check
                                input#checkPromotional.form-check-input(type='checkbox', checked)
                                label.form-check-label(for='checkPromotional') Marketing and promotional offers
                            .form-check
                                input#checkSecurity.form-check-input(type='checkbox', checked, disabled)
                                label.form-check-label(for='checkSecurity') Security alerts
            // SMS push notifications card
            .card.mb-4
                .card-header Push SMS Notifications
                .card-body
                    form
                        // Form Group (default SMS number)
                        .mb-3
                            label(for='inputNotificationSms').small.mb-1 Default SMS number
                            input#inputNotificationSms.form-control(type='tel', value='123-456-7890', disabled)
        .col-lg-4
            // Notifications preferences card
            .card
                .card-header Notification Preferences
                .card-body
                    form
                        // Form Group (notification preference checkboxes)
                        .mb-3
                            .form-check
                                input#checkAccountChanges.form-check-input(type='checkbox', checked)
                                label.form-check-label(for='checkAccountChanges') Changes made to your account
                            .form-check
                                input#checkPromotional.form-check-input(type='checkbox', checked)
                                label.form-check-label(for='checkPromotional') Marketing and promotional offers
                            .form-check
                                input#checkSecurity.form-check-input(type='checkbox', checked, disabled)
                                label.form-check-label(for='checkSecurity') Security alerts
                        // Submit button
                        button.btn.btn-danger-soft.text-danger Unsubscribe from all notifications
