<sbpro-dashboard-head-compact title="Account Settings - Notifications" icon="user"></sbpro-dashboard-head-compact
><!-- Main page content-->
<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <nav class="nav nav-borders"><a class="nav-link" routerLink="/dashboard/account/profile">Profile</a><a class="nav-link" routerLink="/dashboard/account/files">Files</a><a class="nav-link" routerLink="/dashboard/account/security">Security</a><a class="nav-link active" routerLink="/dashboard/account/notifications">Notifications</a><a class="nav-link" routerLink="/dashboard/account/administrator">Administrator</a></nav>
    <hr class="mt-0 mb-4" />
    <div class="row gx-4">
        <div class="col-lg-12">
            <!-- notifications preferences card-->
            <div class="card mb-4">
                <div class="card-header">Notifications</div>
                <div class="card-body">
                    <form>
                        <!-- Form Group (selection)-->
                        <div class="mb-3">
                            <label class="small mb-1">Choose where to send your notification</label>
                            <div class="form-check"><input class="form-check-input" id="checkEmailNotification" type="checkbox" checked /><label class="form-check-label" for="checkEmailNotification">Receive Email Notification</label></div>
                            <div class="form-check"><input class="form-check-input" id="checkSMSNotification" type="checkbox" checked /><label class="form-check-label" for="checkSMSNotification">Receive SMS Notification</label></div>
                        </div>
                        <!-- Form Group (updates checkboxes)-->
                        <div class="mb-0">
                            <label class="small mb-1">Choose which types of notification updates you receive</label>
                            <div class="form-check"><input class="form-check-input" id="checkAccountChanges" type="checkbox" checked /><label class="form-check-label" for="checkAccountChanges">Changes made to your account</label></div>
                            <div class="form-check"><input class="form-check-input" id="checkPromotional" type="checkbox" checked /><label class="form-check-label" for="checkPromotional">Marketing and promotional offers</label></div>
                            <div class="form-check"><input class="form-check-input" id="checkSecurity" type="checkbox" checked disabled data-bs-toggle="tooltip" data-bs-placement="top" title="Security Notification" /><label class="form-check-label" for="checkSecurity">Account security alerts</label></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
