sbpro-card
    .card-header Default Bootstrap Border Radius
    .card-body
        h6.small.text-muted.fw-500 Rounded Corners:
        .border.border-lg.rounded.mb-4
            .p-4.border-bottom
                .row.gx-4
                    .col-4
                        .bg-primary.text-white.rounded.p-3.mb-3 .rounded
                        .bg-primary.text-white.rounded-top.p-3 .rounded-top
                    .col-4
                        .bg-primary.text-white.rounded-end.p-3.mb-3 .rounded-end
                        .bg-primary.text-white.rounded-bottom.p-3 .rounded-bottom
                    .col-4
                        .bg-primary.text-white.rounded-start.p-3.mb-3 .rounded-start
                        .bg-primary.text-white.rounded-0.p-3 .rounded-0
            .bg-light.p-4.small
                | The above border utilities will round the corners of your element based on which utility you specify. You can use them together as well!
        h6.small.text-muted.fw-500 Other Utilities:
        .border.border-lg.rounded
            .p-4.border-bottom
                .bg-primary.text-white.rounded-circle.p-3.me-2.d-inline-flex.align-items-center.justify-content-center(style='height: 10rem; width: 10rem;') .rounded-circle
                .bg-primary.text-white.rounded-pill.p-3.me-2.d-inline-flex.align-items-center.justify-content-center(style='height: 5rem; width: 10rem;') .rounded-pill
            .bg-light.p-4.small.
                It is recommended that you only use the <code>.rounded-circle</code> utility on square elements and the <code>.rounded-pill</code> utility on elements with a width that is larger than it's height.
