.card.mb-4
    .card-body.text-center.p-5
        img.img-fluid.mb-5(src='assets/img/illustrations/data-report.svg')
        h4 Report generation
        p.mb-4 Ready to get started? Let us know now! It's time to start building that dashboard you've been waiting to create!
        a.btn.btn-primary.p-3(href='#!') Continue
