sbpro-dashboard-head-compact(
    title='Account Settings - Security',
    icon='user'
)

// Main page content
.container-xl.px-4.mt-4
    // Account page navigation
    nav.nav.nav-borders
        a.nav-link(routerLink='/dashboard/account/profile') Profile
        a.nav-link.active(routerLink='/dashboard/account/security') Security
        a.nav-link(routerLink='/dashboard/account/notifications') Notifications
    hr.mt-0.mb-4
    .row.gx-4
        .col-lg-8
            // Change password card
            .card.mb-4
                .card-header Change Password
                .card-body
                    form
                        // Form Group (current password)
                        .mb-3
                            label(for='currentPassword').small.mb-1 Current Password
                            input.form-control#currentPassword(type='password', placeholder='Enter current password')
                        // Form Group (new password)
                        .mb-3
                            label(for='newPassword').small.mb-1 New Password
                            input.form-control#newPassword(type='password', placeholder='Enter new password')
                        // Form Group (confirm password)
                        .mb-3
                            label(for='confirmPassword').small.mb-1 Confirm Password
                            input.form-control#confirmPassword(type='password', placeholder='Confirm new password')
                        button.btn.btn-primary(type='button') Save

        .col-lg-4
            // Two factor authentication card
            .card.mb-4
                .card-header Two-Factor Authentication
                .card-body
                    p Add another level of security to your account by enabling two-factor authentication. We will send you a text message to verify your login attempts on unrecognized devices and browsers.
                    form
                        .mb-3
                            .form-check
                                input#twoFactorOn.form-check-input(type='radio', name='radioUsage', checked disabled)
                                label.form-check-label(for='twoFactorOn') On
                            .form-check
                                input#twoFactorOff.form-check-input(type='radio', name='radioUsage' disabled)
                                label.form-check-label(for='twoFactorOff') Off
                        .mb-3.mb-0
                            label(for='twoFactorSMS').small.mb-1 SMS Number
                            input.form-control#twoFactorSMS(type='tel', placeholder='Enter a phone number', value='123-456-7890')
            // Delete account card
            .card.mb-4
                .card-header Delete Account
                .card-body
                    p Deleting your account is a permanent action and cannot be undone. If you are sure you want to delete your account, select the button below.
                    button.btn.btn-danger-soft.text-danger(type='button') I understand, delete my account
