sbpro-card
    .card-header Default Bootstrap Badges
    .card-body
        .sbp-preview
            .sbp-preview-content
                span.badge.bg-primary.me-2 Primary
                span.badge.bg-secondary.me-2 Secondary
                span.badge.bg-success.me-2 Success
                span.badge.bg-danger.me-2 Danger
                span.badge.bg-warning.me-2 Warning
                span.badge.bg-info.me-2 Info
                span.badge.bg-light.text-dark.me-2 Light
                span.badge.bg-dark.me-2 Dark

            .sbp-preview-code
                sbpro-code-sample(
                    [codeSamples]='codeSamples',
                )

            .sbp-preview-text.
                By default, Bootstrap includes the above badges. The styling for these default
                badges has been modified to fit the SB Admin Pro theme.