sbpro-card
    .card-header Default Bootstrap Borders
    .card-body
        h6.small.text-muted.fw-500 Additive:
        .border.border-lg.rounded.mb-4
            .p-4.border-bottom
                .row.gx-4
                    .col-6
                        .bg-light.border.p-3.mb-3 .border
                        .bg-light.border-top.p-3.mb-3 .border-top
                        .bg-light.border-end.p-3 .border-end
                    .col-6
                        .bg-light.border-bottom.p-3.mb-3 .border-bottom
                        .bg-light.border-start.p-3 .border-start
            .bg-light.p-4.small
                | The above border utilities will 
                em add
                | 
                | borders to any element.
        h6.small.text-muted.fw-500 Subtractive:
        .border.border-lg.rounded
            .p-4.border-bottom
                .row.gx-4
                    .col-6
                        .bg-light.border.border-0.p-3.mb-3 .border-0
                        .bg-light.border.border-top-0.p-3.mb-3 .border-top-0
                        .bg-light.border.border-end-0.p-3 .border-end-0
                    .col-6
                        .bg-light.border.border-bottom-0.p-3.mb-3 .border-bottom-0
                        .bg-light.border.border-start-0.p-3 .border-start-0
            .bg-light.p-4.small
                | The above border utilities will 
                em subtract
                | 
                | borders from any element that already has them.
