sbpro-card
    .card-header Default Bootstrap Buttons
    .card-body
        .sbp-btn-example.mb-4
            h6.small.text-muted.fw-500 Bootstrap Buttons:
            .sbp-preview.mb-4
                .sbp-preview-content
                    button.my-1.me-2.btn.btn-primary(type='button') Primary
                    button.my-1.me-2.btn.btn-secondary(type='button') Secondary
                    button.my-1.me-2.btn.btn-success(type='button') Success
                    button.my-1.me-2.btn.btn-danger(type='button') Danger
                    button.my-1.me-2.btn.btn-warning(type='button') Warning
                    button.my-1.me-2.btn.btn-info(type='button') Info
                    button.my-1.me-2.btn.btn-light(type='button') Light
                    button.my-1.me-2.btn.btn-dark(type='button') Dark
                    button.my-1.me-2.btn.btn-link(type='button') Link
                .sbp-preview-code
                    sbpro-code-sample(
                        [codeSamples]='codeSamples',
                    )

                .sbp-preview-text.
                    Bootstrap's default state-specific button styles have been styled to fit the
                    SB Admin Pro theme.

        .sbp-btn-example
            h6.small.text-muted.fw-500 Bootstrap Outline Buttons:
            .sbp-preview.mb-4
                .sbp-preview-content
                    button.my-1.me-2.btn.btn-outline-primary(type='button') Primary
                    button.my-1.me-2.btn.btn-outline-secondary(type='button') Secondary
                    button.my-1.me-2.btn.btn-outline-success(type='button') Success
                    button.my-1.me-2.btn.btn-outline-danger(type='button') Danger
                    button.my-1.me-2.btn.btn-outline-warning(type='button') Warning
                    button.my-1.me-2.btn.btn-outline-info(type='button') Info
                    button.my-1.me-2.btn.btn-outline-light(type='button') Light
                    button.my-1.me-2.btn.btn-outline-dark(type='button') Dark
                .sbp-preview-code
                    sbpro-code-sample(
                        [codeSamples]='codeSamplesOutline',
                    )

                .sbp-preview-text.
                    Outline button styles are also available by default from Bootstrap.
