<sbpro-dashboard-head icon="package" title="Pricing" description="Example pricing layouts to use within your project." [simplified]="true"></sbpro-dashboard-head>
<div class="container-xl px-4 mt-5">
    <div class="text-center mb-5">
        <div class="display-4 text-primary mb-2">Pricing built for your business.</div>
        <div class="display-4">No surprises, no hassle.</div>
    </div>
    <!-- Detailed pricing example-->
    <div class="pricing-detailed">
        <div class="row gx-4 align-items-center gx-0">
            <!-- Detailed pricing column 1-->
            <div class="col-lg-6 z-1 mb-4 mb-lg-0">
                <div class="card text-center border-0">
                    <div class="card-header bg-transparent justify-content-center py-4"><h5 class="text-primary mb-0">Standard</h5></div>
                    <div class="card-body p-5">
                        <p class="lead">One easy to understand pricing plan for all of our users! Get complete access to all of our features.</p>
                        <div class="mb-5">
                            <div class="display-3 text-dark">$9</div>
                            per month
                        </div>
                        <ul class="list-unstyled">
                            <li class="d-flex align-items-center justify-content-center mb-3"><i-feather class="text-primary me-2" name="check-circle"></i-feather>Unlimited access to all of our products</li>
                            <li class="d-flex align-items-center justify-content-center mb-3"><i-feather class="text-primary me-2" name="check-circle"></i-feather>No setup fees or any hidden fees</li>
                            <li class="d-flex align-items-center justify-content-center"><i-feather class="text-primary me-2" name="check-circle"></i-feather>Dedicated customer support</li>
                        </ul>
                    </div>
                    <a class="card-footer d-flex align-items-center justify-content-center" href="javascript:void(0);">Start now<i-feather class="ms-2" name="arrow-right"></i-feather></a>
                </div>
            </div>
            <!-- Detailed pricing column 2-->
            <div class="col-lg-6">
                <div class="card bg-dark text-center pricing-detailed-behind">
                    <div class="card-header justify-content-center py-4"><h5 class="mb-0 text-white">Custom</h5></div>
                    <div class="card-body text-white-50 p-5">Need something more? We offer customized, enterprise level plans for specific implementations. Contact our sales team to learn more about custom licensing!</div>
                    <a class="card-footer bg-gray-800 text-white d-flex align-items-center justify-content-center" href="javascript:void(0);">Contact sales<i-feather class="ms-2" name="arrow-right"></i-feather></a>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="my-10" />
<div class="container-xl px-4">
    <div class="text-center mb-5">
        <div class="display-4 text-primary mb-2">Choose a pricing plan</div>
        <div class="display-4">Pick what's right for you</div>
    </div>
    <!-- Pricing columns example-->
    <div class="pricing-columns">
        <div class="row gx-4 justify-content-center">
            <!-- Pricing column 1-->
            <div class="col-xl-4 col-lg-6 mb-4 mb-xl-0">
                <div class="card h-100">
                    <div class="card-header bg-transparent">
                        <span class="badge bg-primary-soft text-primary rounded-pill py-2 px-3 mb-2">Individual</span>
                        <div class="pricing-columns-price">$9<span>/month</span></div>
                    </div>
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i-feather class="text-primary me-2" name="check-circle"></i-feather>1 user account</li>
                            <li class="list-group-item"><i-feather class="text-primary me-2" name="check-circle"></i-feather>Remove ads</li>
                            <li class="list-group-item"><i-feather class="text-primary me-2" name="check-circle"></i-feather>Premium assets</li>
                            <li class="list-group-item"><i-feather class="text-primary me-2" name="check-circle"></i-feather>Saved projects</li>
                        </ul>
                    </div>
                    <a class="card-footer d-flex align-items-center justify-content-between text-decoration-none bg-primary-soft" href="javascript:void(0);">Get started!<i-feather name="arrow-right"></i-feather></a>
                </div>
            </div>
            <!-- Pricing column 2-->
            <div class="col-xl-4 col-lg-6 mb-4 mb-xl-0">
                <div class="card h-100">
                    <div class="card-header bg-transparent">
                        <span class="badge bg-secondary-soft text-secondary rounded-pill py-2 px-3 mb-2">Team</span>
                        <div class="pricing-columns-price">$39<span>/month</span></div>
                    </div>
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i-feather class="text-secondary me-2" name="check-circle"></i-feather>Up to 5 user accounts</li>
                            <li class="list-group-item"><i-feather class="text-secondary me-2" name="check-circle"></i-feather>Remove ads</li>
                            <li class="list-group-item"><i-feather class="text-secondary me-2" name="check-circle"></i-feather>Premium assets</li>
                            <li class="list-group-item"><i-feather class="text-secondary me-2" name="check-circle"></i-feather>Saved projects</li>
                            <li class="list-group-item"><i-feather class="text-secondary me-2" name="check-circle"></i-feather>Team collaboration tools</li>
                        </ul>
                    </div>
                    <a class="card-footer d-flex align-items-center justify-content-between text-secondary bg-secondary-soft text-decoration-none" href="javascript:void(0);">Get started!<i-feather name="arrow-right"></i-feather></a>
                </div>
            </div>
            <!-- Pricing column 3-->
            <div class="col-xl-4 col-lg-6">
                <div class="pricing-table">
                    <div class="card h-100">
                        <div class="card-header bg-transparent">
                            <span class="badge bg-success-soft text-success rounded-pill py-2 px-3 mb-2">Organization</span>
                            <div class="pricing-columns-price">$249<span>/month</span></div>
                        </div>
                        <div class="card-body p-0">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><i-feather class="text-success me-2" name="check-circle"></i-feather>Up to 50 user accounts</li>
                                <li class="list-group-item"><i-feather class="text-success me-2" name="check-circle"></i-feather>Remove ads</li>
                                <li class="list-group-item"><i-feather class="text-success me-2" name="check-circle"></i-feather>Premium assets</li>
                                <li class="list-group-item"><i-feather class="text-success me-2" name="check-circle"></i-feather>Saved projects</li>
                                <li class="list-group-item"><i-feather class="text-success me-2" name="check-circle"></i-feather>Team collaboration tools</li>
                                <li class="list-group-item"><i-feather class="text-success me-2" name="check-circle"></i-feather>Create teams &amp; groups</li>
                                <li class="list-group-item"><i-feather class="text-success me-2" name="check-circle"></i-feather>Priority customer support</li>
                            </ul>
                        </div>
                        <a class="card-footer d-flex align-items-center justify-content-between text-success bg-success-soft text-decoration-none" href="javascript:void(0);">Get started!<i-feather name="arrow-right"></i-feather></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="my-10" />
<div class="container-xl px-4">
    <div class="text-center mb-5">
        <div class="display-4 text-primary mb-2">Compare our pricing plans</div>
        <div class="display-4">Pick what's right for you</div>
    </div>
    <!-- Pricing table example-->
    <div class="card mb-5">
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead>
                        <tr class="bg-dark text-white">
                            <th class="py-4" scope="col"></th>
                            <th class="py-4" scope="col">Individual</th>
                            <th class="py-4" scope="col">Team</th>
                            <th class="py-4" scope="col">Organization</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Price per month</th>
                            <td>$9</td>
                            <td>$39</td>
                            <td>$249</td>
                        </tr>
                        <tr class="bg-gray-100">
                            <th scope="row">User accounts</th>
                            <td>1</td>
                            <td>Up to 5</td>
                            <td>Up to 50</td>
                        </tr>
                        <tr>
                            <th scope="row">Ad free</th>
                            <td><fa-icon class="text-green" [icon]='["fas", "check"]'></fa-icon></td>
                            <td><fa-icon class="text-green" [icon]='["fas", "check"]'></fa-icon></td>
                            <td><fa-icon class="text-green" [icon]='["fas", "check"]'></fa-icon></td>
                        </tr>
                        <tr class="bg-gray-100">
                            <th scope="row">Premium assets</th>
                            <td><fa-icon class="text-green" [icon]='["fas", "check"]'></fa-icon></td>
                            <td><fa-icon class="text-green" [icon]='["fas", "check"]'></fa-icon></td>
                            <td><fa-icon class="text-green" [icon]='["fas", "check"]'></fa-icon></td>
                        </tr>
                        <tr>
                            <th scope="row">Saved projects</th>
                            <td><fa-icon class="text-green" [icon]='["fas", "check"]'></fa-icon></td>
                            <td><fa-icon class="text-green" [icon]='["fas", "check"]'></fa-icon></td>
                            <td><fa-icon class="text-green" [icon]='["fas", "check"]'></fa-icon></td>
                        </tr>
                        <tr class="bg-gray-100">
                            <th scope="row">Team collaboration tools</th>
                            <td><fa-icon class="text-red" [icon]='["fas", "times"]'></fa-icon></td>
                            <td><fa-icon class="text-green" [icon]='["fas", "check"]'></fa-icon></td>
                            <td><fa-icon class="text-green" [icon]='["fas", "check"]'></fa-icon></td>
                        </tr>
                        <tr>
                            <th scope="row">Create teams &amp; groups</th>
                            <td><fa-icon class="text-red" [icon]='["fas", "times"]'></fa-icon></td>
                            <td><fa-icon class="text-red" [icon]='["fas", "times"]'></fa-icon></td>
                            <td><fa-icon class="text-green" [icon]='["fas", "check"]'></fa-icon></td>
                        </tr>
                        <tr class="bg-gray-100">
                            <th scope="row">Customer support</th>
                            <td>Email only</td>
                            <td>Email &amp; phone</td>
                            <td>Dedicated account manager</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
