<div class="row gx-4">
    <div class="col-xl-3 col-md-6 mb-4">
        <!-- Dashboard info widget 1-->
        <div class="card border-top-0 border-bottom-0 border-end-0 border-start-lg border-primary h-100">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1">
                        <div class="small fw-bold text-primary mb-1">Earnings (monthly)</div>
                        <div class="h5">$4,390</div>
                        <div class="text-xs fw-bold text-success d-inline-flex align-items-center"><i-feather class="me-1" name="trending-up"></i-feather>12%</div>
                    </div>
                    <div class="ms-2"><fa-icon class="fa-2x text-gray-200" [icon]='["fas", "dollar-sign"]'></fa-icon></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <!-- Dashboard info widget 2-->
        <div class="card border-top-0 border-bottom-0 border-end-0 border-start-lg border-secondary h-100">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1">
                        <div class="small fw-bold text-secondary mb-1">Average sale price</div>
                        <div class="h5">$27.00</div>
                        <div class="text-xs fw-bold text-danger d-inline-flex align-items-center"><i-feather class="me-1" name="trending-down"></i-feather>3%</div>
                    </div>
                    <div class="ms-2"><fa-icon class="fa-2x text-gray-200" [icon]='["fas", "tag"]'></fa-icon></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <!-- Dashboard info widget 3-->
        <div class="card border-top-0 border-bottom-0 border-end-0 border-start-lg border-success h-100">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1">
                        <div class="small fw-bold text-success mb-1">Clicks</div>
                        <div class="h5">11,291</div>
                        <div class="text-xs fw-bold text-success d-inline-flex align-items-center"><i-feather class="me-1" name="trending-up"></i-feather>12%</div>
                    </div>
                    <div class="ms-2"><fa-icon class="fa-2x text-gray-200" [icon]='["fas", "mouse-pointer"]'></fa-icon></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <!-- Dashboard info widget 4-->
        <div class="card border-top-0 border-bottom-0 border-end-0 border-start-lg border-info h-100">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1">
                        <div class="small fw-bold text-info mb-1">Conversion rate</div>
                        <div class="h5">1.23%</div>
                        <div class="text-xs fw-bold text-danger d-inline-flex align-items-center"><i-feather class="me-1" name="trending-down"></i-feather>1%</div>
                    </div>
                    <div class="ms-2"><fa-icon class="fa-2x text-gray-200" [icon]='["fas", "percentage"]'></fa-icon></div>
                </div>
            </div>
        </div>
    </div>
</div>
