sbpro-card.mb-4
    .card-header Card Colors 
    .card-body
        h6.small.text-muted.fw-500 Default Card Colors:
        .sbp-preview.mb-4
            .sbp-preview-content

                .row.gx-4
                    .col-6
                        sbpro-card.mb-4(background='bg-primary', color='text-white')
                            .card-header.text-white Primary Card
                            .card-body
                                p.card-text Here is some example text within the card body.
                            .card-footer Card Footer
                        sbpro-card.mb-4(background='bg-secondary', color='text-white')
                            .card-header.text-white Secondary Card
                            .card-body
                                p.card-text Here is some example text within the card body.
                            .card-footer Card Footer
                        sbpro-card.mb-4(background='bg-success', color='text-white')
                            .card-header.text-white Success Card
                            .card-body
                                p.card-text Here is some example text within the card body.
                            .card-footer Card Footer
                        sbpro-card.mb-4(background='bg-danger', color='text-white')
                            .card-header.text-white Danger Card
                            .card-body
                                p.card-text Here is some example text within the card body.
                            .card-footer Card Footer
                    .col-6
                        sbpro-card.mb-4(background='bg-warning', color='text-white')
                            .card-header.text-white Warning Card
                            .card-body
                                p.card-text Here is some example text within the card body.
                            .card-footer Card Footer
                        sbpro-card.mb-4(background='bg-light')
                            .card-header.text-dark Light Card
                            .card-body
                                p.card-text Here is some example text within the card body.
                            .card-footer Card Footer
                        sbpro-card.mb-4(background='bg-dark', color='text-white')
                            .card-header.text-white Dark Card
                            .card-body
                                p.card-text Here is some example text within the card body.
                            .card-footer Card Footer

            .sbp-preview-code
                sbpro-code-sample(
                    [codeSamples]='codeSamples',
                )

        h6.small.text-muted.fw-500 Extended Card Colors:
        .sbp-preview.mb-4
            .sbp-preview-content.bg-light

                .row.gx-4
                    .col-6
                        sbpro-card.mb-4(background='bg-red', color='text-white')
                            .card-header.text-white Red Card
                            .card-body
                                p.card-text Here is some example text within the card body.
                            .card-footer Card Footer
                        sbpro-card.mb-4(background='bg-orange', color='text-white')
                            .card-header.text-white Orange Card
                            .card-body
                                p.card-text Here is some example text within the card body.
                            .card-footer Card Footer
                        sbpro-card.mb-4(background='bg-yellow', color='text-white')
                            .card-header.text-white Yellow Card
                            .card-body
                                p.card-text Here is some example text within the card body.
                            .card-footer Card Footer
                        sbpro-card.mb-4(background='bg-green', color='text-white')
                            .card-header.text-white Green Card
                            .card-body
                                p.card-text Here is some example text within the card body.
                            .card-footer Card Footer
                        sbpro-card.mb-4(background='bg-teal', color='text-white')
                            .card-header.text-white Teal Card
                            .card-body
                                p.card-text Here is some example text within the card body.
                            .card-footer Card Footer
                    .col-6
                        sbpro-card.mb-4(background='bg-cyan', color='text-white')
                            .card-header.text-white Cyan Card
                            .card-body
                                p.card-text Here is some example text within the card body.
                            .card-footer Card Footer
                        sbpro-card.mb-4(background='bg-blue', color='text-white')
                            .card-header.text-white Blue Card
                            .card-body
                                p.card-text Here is some example text within the card body.
                            .card-footer Card Footer
                        sbpro-card.mb-4(background='bg-indigo', color='text-white')
                            .card-header.text-white Indigo Card
                            .card-body
                                p.card-text Here is some example text within the card body.
                            .card-footer Card Footer
                        sbpro-card.mb-4(background='bg-purple', color='text-white')
                            .card-header.text-white Purple Card
                            .card-body
                                p.card-text Here is some example text within the card body.
                            .card-footer Card Footer
                        sbpro-card.mb-4(background='bg-pink', color='text-white')
                            .card-header.text-white Pink Card
                            .card-body
                                p.card-text Here is some example text within the card body.
                            .card-footer Card Footer

            .sbp-preview-code
                sbpro-code-sample(
                    [codeSamples]='codeSamplesExtended',
                )
