sbpro-card
    .card-header Extended Shadow Utilities
    .card-body
        h6.small.text-muted.fw-500 Left Shadows:
        .border.border-lg.rounded.mb-4
            .p-4.border-bottom
                .d-flex.flex-row
                    .bg-white.p-3.shadow-left-sm.m-4
                        | Small Shadow
                    .bg-white.p-3.shadow-left.m-4
                        | Regular Shadow
                    .bg-white.p-3.shadow-left-lg.m-4
                        | Large Shadow
            .bg-light.p-4.small.
                The <code>.shadow-left</code> utility has small and large variants.
        h6.small.text-muted.fw-500 Right Shadows:
        .border.border-lg.rounded
            .p-4.border-bottom
                .d-flex.flex-row
                    .bg-white.p-3.shadow-right-sm.m-4
                        | Small Shadow
                    .bg-white.p-3.shadow-right.m-4
                        | Regular Shadow
                    .bg-white.p-3.shadow-right-lg.m-4
                        | Large Shadow
            .bg-light.p-4.small.
                The <code>.shadow-right</code> utility has small and large variants. The <code>$box-shadow-right</code> variable is used on the SB Admin Pro side navigation.

