sbpro-card
    .card-header Default Bootstrap Alerts
    .card-body
        .sbp-preview
            .sbp-preview-content
                
                sbpro-alert(classes='alert-primary')
                    | A primary alert—check it out!

                sbpro-alert(classes='alert-secondary')
                    | A secondary alert—check it out!

                sbpro-alert(classes='alert-success')
                    | A success alert—check it out!

                sbpro-alert(classes='alert-danger')
                    | A danger alert—check it out!

                sbpro-alert(classes='alert-warning')
                    | A warning alert—check it out!
                    
                sbpro-alert(classes='alert-info')
                    | A info alert—check it out!

                sbpro-alert(classes='alert-light')
                    | A light alert—check it out!
                    
                sbpro-alert(classes='alert-dark')
                    | A dark alert—check it out!

            .sbp-preview-code
                sbpro-code-sample(
                    [codeSamples]='codeSamples',
                )

            .sbp-preview-text.
                Bootstrap's default state-specific alert styles have been styled to fit the
                SB Admin Pro theme.