<sbpro-dashboard-head icon="activity" title="Dashboard" description="Example dashboard overview and content summary" [showDateRange]="true"></sbpro-dashboard-head>
<div class="container-xl px-4 mt-n10">
    <div class="row gx-4">
        <div class="col-xxl-4 col-xl-12 mb-4"><sbpro-dashboard-default-welcome></sbpro-dashboard-default-welcome></div>
        <div class="col-xxl-4 col-xl-6 mb-4"><sbpro-dashboard-recent-activity></sbpro-dashboard-recent-activity></div>
        <div class="col-xxl-4 col-xl-6 mb-4"><sbpro-dashboard-progress-tracker></sbpro-dashboard-progress-tracker></div>
    </div>
    <sbpro-dashboard-colored-cards></sbpro-dashboard-colored-cards><sbpro-dashboard-charts></sbpro-dashboard-charts><sbpro-dashboard-tables></sbpro-dashboard-tables>
</div>
