sbpro-dashboard-head(
    icon='activity',
    title='Dashboard',
    description='The Dashboard helps leasing managers stay on top of the complexities of tenant leasing.',
    [showDateRange]='false'
)
.container-xl.px-4.mt-n10

    sbpro-dashboard-multi-click-cards
    sbpro-dashboard-recent-activity
    sbpro-dashboard-charts
    //- sbpro-dashboard-tables
