<sbpro-layout-dashboard [light]="false"
    ><sbpro-dashboard-head icon="layout" title="Dark Sidenav" description="An alternate option for the sidenav styling"></sbpro-dashboard-head>
    <div class="container-xl px-4 mt-n10">
        <div class="card mb-4">
            <div class="card-header">Dark Sidenav Option</div>
            <div class="card-body">
                <p class="card-text">
                    Use the <code>[light]='false'</code> attribute with the <code>&lt;sbpro-layout-dashboard&gt;</code> element for a darker layout with the side navigation element.
                    <br />
                    The text, icons, and all of the elements within the side navigation will adapt to work well with darker backgrounds.
                    <br />
                    You can also use utility classes to modify the background color of the side navigation, or use a custom style!
                </p>
            </div>
        </div>
    </div></sbpro-layout-dashboard
>
