<sbpro-layout-dashboard [light]="true"
    ><sbpro-dashboard-head icon="filter" title="Tables" description="Dynamic tables powered by ng-bootstrap, customized for SB Admin Pro Angular"></sbpro-dashboard-head>
    <div class="container-xl px-4 mt-n10">
        <sbpro-card
            ><div class="card-header">Table Example</div>
            <div class="card-body"><sb-ng-bootstrap-table [pageSize]="6"></sb-ng-bootstrap-table></div></sbpro-card
        ><sbpro-card-icon
            ><div class="card-icon"><i-feather class="text-white-50" name="alert-triangle"></i-feather></div>
            <div class="card-body">
                <h5 class="card-title">Third-Party Documentation Available</h5>
                <p class="card-text">This table example was adapted and extended from ng-bootstrap's table. For more information on ng-bootstrap's table, please visit the official ng-bootstrap documentation.</p>
                <a class="btn btn-primary btn-sm" href="https://ng-bootstrap.github.io/#/components/table/overview" target="_blank"><i-feather class="me-1" name="external-link"></i-feather>View NG Bootstrap Table Docs</a>
            </div></sbpro-card-icon
        >
    </div></sbpro-layout-dashboard
>
