<sbpro-dashboard-head-compact title="Account Settings - Profile" icon="user"></sbpro-dashboard-head-compact
><!-- Main page content-->
<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <nav class="nav nav-borders"><a class="nav-link active" routerLink="/dashboard/account/profile">Profile</a><a class="nav-link" routerLink="/dashboard/account/files">Files</a><a class="nav-link" routerLink="/dashboard/account/security">Security</a><a class="nav-link" routerLink="/dashboard/account/notifications">Notifications</a></nav>
    <hr class="mt-0 mb-4" />
    <div class="row gx-4">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4">
                <div class="card-header">Profile Picture</div>
                <div class="card-body text-center">
                    <!-- Profile picture image--><img class="img-account-profile rounded-circle mb-2" [src]="this.account.image_path" alt="" /><!-- Profile picture help block-->
                    <div class="small font-italic text-muted mb-4">JPG no larger than 5 MB</div>
                    <!-- Profile picture upload button--><button class="btn btn-primary" type="button">Upload new image</button>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Account Details</div>
                <div class="card-body">
                    <form (ngSubmit)="submit()">
                        <div class="mb-3" *ngIf="alert"><div class="alert alert-danger" role="alert">{{ alert_message }}</div></div>
                        <!-- Form Group (username)-->
                        <div class="mb-3"><label class="small mb-1" for="inputUsername">Username </label><input class="form-control" id="inputUsername" disabled type="text" placeholder="Enter your username" value="username" name="username" [(ngModel)]="this.account.username" /></div>
                        <!-- Form Row-->
                        <div class="row">
                            <!-- Form Group (first name)-->
                            <div class="mb-3 col-md-6">
                                <label class="small mb-1" for="inputFirstName">First Name <span class="badge bg-red">required</span></label
                                ><input class="form-control" id="inputFirstName" type="text" placeholder="Enter your first name" name="first_name" [(ngModel)]="this.account.first_name" />
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="mb-3 col-md-6">
                                <label class="small mb-1" for="inputLastName">Last Name <span class="badge bg-red">required</span></label
                                ><input class="form-control" id="inputLastName" type="text" placeholder="Enter your last name" name="last_name" [(ngModel)]="this.account.last_name" />
                            </div>
                        </div>
                        <!-- Form Row-->
                        <div class="row">
                            <!-- Form Group (email address)-->
                            <div class="mb-3 col-md-6"><label class="small mb-1" for="inputEmailAddress">Email Address </label><input class="form-control" id="inputEmailAddress" disabled type="email" placeholder="Enter your email address" name="email_address" [(ngModel)]="this.account.email_address" /></div>
                            <!-- Form Group (date of birth)-->
                            <div class="mb-3 col-md-6">
                                <label class="small mb-1" for="inputBirthday">Date of Birth <span class="badge bg-red">required</span></label
                                ><input class="form-control" id="inputBirthday" type="date" name="date_of_birth" [(ngModel)]="this.account.date_of_birth" />
                            </div>
                        </div>
                        <!-- Form Row-->
                        <div class="row">
                            <!-- Form Group (contact number)-->
                            <div class="mb-3 col-md-6">
                                <label class="small mb-1" for="inputContactNumber">Contact Number <span class="badge bg-red">required</span></label
                                ><input class="form-control" id="inputContactNumber" type="number" placeholder="Enter your contact number" name="contact_number" [(ngModel)]="this.account.contact_number" />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="small mb-1" for="inputGender">Gender <span class="badge bg-red">required</span></label
                                ><select class="form-control" id="inputCountry" name="gender" [(ngModel)]="this.account.gender">
                                    <option value="">Select</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </select>
                            </div>
                        </div>
                        <!-- Form Group (address 1)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputAddress1">Address 1 <span class="badge bg-red">required</span></label
                            ><input class="form-control" id="inputAddress1" type="text" placeholder="Enter your address 1" name="address_1" [(ngModel)]="this.account.address_1" />
                        </div>
                        <!-- Form Group (address 2)-->
                        <div class="mb-3"><label class="small mb-1" for="inputAddress2">Address 2 </label><input class="form-control" id="inputAddress2" type="text" placeholder="Enter your address 2" name="address_2" [(ngModel)]="this.account.address_2" /></div>
                        <!-- Form Row-->
                        <div class="row">
                            <!-- Form Group (country)-->
                            <div class="mb-3 col-md-6">
                                <label class="small mb-1" for="inputCountry">Country <span class="badge bg-red">required</span></label
                                ><select class="form-control" id="inputCountry" name="country_name" [(ngModel)]="this.account.country_code">
                                    <option value="">Select</option>
                                    <option *ngFor="let cList of country_list" value="{{ cList.iso_code }}">{{ cList.country_name }}</option>
                                </select>
                            </div>
                            <!-- Form Group (nationality)-->
                            <div class="mb-3 col-md-6"><label class="small mb-1" for="inputNationality">Nationality </label><input class="form-control" id="inputNationality" type="text" placeholder="Enter your nationality" name="nationality" [(ngModel)]="this.account.nationality" /></div>
                        </div>
                        <!-- Save changes button--><button class="btn btn-primary" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #confirmationModal let-modal
    ><div class="modal-header">
        <h5 class="modal-title">Profile Data - Save Confirmation</h5>
        <button class="btn-close" type="button" aria-label="Close" (click)='modal.dismiss("Cross click")'><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
        Are you sure you want to save the following details? <br /><br />
        First Name: <code>{{account.first_name}}</code><br />
        Last Name: <code>{{account.last_name}}</code><br />
        Date of Birth: <code>{{account.date_of_birth}}</code><br />
        Contact Number: <code>{{account.contact_number}}</code><br />
        Gender: <code>{{account.gender}}</code><br />
        Address 1: <code>{{account.address_1}}</code><br />
        Address 2: <code>{{account.address_2}}</code><br />
        Country: <code>{{account.country_code}}</code><br />
        Nationality: <code>{{account.nationality}}</code><br />
    </div>
    <div class="modal-footer"><button class="btn btn-secondary" type="button" (click)='modal.close("CANCEL")'>Cancel</button><button class="btn btn-primary" type="button" (click)='modal.close("SAVE")'>Save Changes</button></div></ng-template
><ng-template #notificationModal let-modal
    ><div class="modal-header">
        <h5 class="modal-title">Profile Data</h5>
        <button class="btn-close" type="button" aria-label="Close" (click)='modal.dismiss("Cross click")'><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">Account Details has been successfully saved!</div></ng-template
>
