sbpro-dashboard-head(
    icon='layout',
    title='Breadcrumbs Header',
    description='The custom page header supports and styles Bootstrap breadcrumbs',
    [breadcrumbs]='true'
)
.container-xl.px-4.mt-n10
    sbpro-card
        .card-header Breadcrumbs Header
        .card-body
            p.card-text.
                The Bootstrap breadcrumbs component is supported within the page header for the SB Admin Pro theme.
                The page header on this page is an example of a page with breadcrumbs added!
