sbpro-card
    .card-header Custom Border Thickness
    .card-body
        .border.border-lg.rounded
            .p-4.border-bottom
                .bg-light.border.p-3.mb-3 .border
                .bg-light.border.border-lg.p-3.mb-3 .border .border-lg
                .bg-light.border-top.border-lg.p-3.mb-3 .border-top .border-lg
                .bg-light.border-end.border-lg.p-3.mb-3 .border-end .border-lg
                .bg-light.border-bottom.border-lg.p-3.mb-3 .border-bottom .border-lg
                .bg-light.border-start.border-lg.p-3 .border-start .border-lg
            .bg-light.p-4.small.
                You can change to a thicker border radius using the <code>.border-lg</code> utility classes, which extends the default Bootstrap functionalilty.
