sbpro-card
    .card-header Bootstrap Defaults
    .card-body
        .border.border-lg.rounded
            .p-4.border-bottom
                .bg-primary.text-white.p-3 .bg-primary
                .bg-secondary.text-white.p-3 .bg-secondary
                .bg-success.text-white.p-3 .bg-success
                .bg-danger.text-white.p-3 .bg-danger
                .bg-warning.text-white.p-3 .bg-warning
                .bg-info.text-white.p-3 .bg-info
                .bg-light.p-3 .bg-light
                .bg-dark.text-white.p-3 .bg-dark
                .bg-white.p-3 .bg-white
                .bg-transparent.p-3 .bg-transparent
            .bg-light.p-4.small.
                The default Bootstrap background utilities are contextual by nature,
                and pull from the color palette defined in the <code>src/styles/sb-admin-pro/variables/_colors.scss</code> file.
