sbpro-card
    .card-header Text Color Utilities
    .card-body
        h6.small.text-muted.fw-500 Bootstrap Defaults:
        .border.border-lg.rounded.mb-4
            .p-4.border-bottom
                .row.gx-4
                    .col-6
                        .p-3.border.mb-3.text-primary .text-primary
                        .p-3.border.mb-3.text-secondary .text-secondary
                        .p-3.border.mb-3.text-success .text-success
                        .p-3.border.mb-3.text-danger .text-danger
                        .p-3.border.mb-3.text-warning .text-warning
                        .p-3.border.mb-3.text-info .text-info
                        .p-3.border.text-light.bg-dark .text-light
                    .col-6
                        .p-3.border.mb-3.text-dark .text-dark
                        .p-3.border.mb-3.text-body .text-body
                        .p-3.border.mb-3.text-muted .text-muted
                        .p-3.border.mb-3.text-white.bg-dark .text-white
                        .p-3.border.mb-3.text-black-50 .text-black-50
                        .p-3.border.mb-3.text-white-50.bg-dark .text-white-50
            .bg-light.p-4.small
                | By default, Bootstrap has a number of text utilities that you can use to change the text color. The default utilities are semantic by nature.
                
        h6.small.text-muted.fw-500 Extended Utilities:
        .border.border-lg.rounded
            .p-4.border-bottom
                .row.gx-4
                    .col-6
                        .p-3.border.mb-3.text-red .text-red
                        .p-3.border.mb-3.text-orange .text-orange
                        .p-3.border.mb-3.text-yellow .text-yellow
                        .p-3.border.mb-3.text-green .text-green
                        .p-3.border.text-teal .text-teal
                    .col-6
                        .p-3.border.mb-3.text-cyan .text-cyan
                        .p-3.border.mb-3.text-blue .text-blue
                        .p-3.border.mb-3.text-indigo .text-indigo
                        .p-3.border.mb-3.text-purple .text-purple
                        .p-3.border.text-pink .text-pink
            .bg-light.p-4.small
                | SB Admin Pro's non-contextual true colors that have been added to the color map are also available as text utilities.
                