sbpro-card(
    [classes]='["h-100"]'
)
    .card-body.h-100.d-flex.flex-column.justify-content-center.py-5.py-xl-4
        .row.gx-4.align-items-center
            .col-xl-8.col-xxl-12
                .text-center.text-xl-start.text-xxl-center.px-4.mb-4.mb-xl-0.mb-xxl-4
                    h1.text-primary Welcome to SB Admin Pro!
                    p.text-gray-700.mb-0
                        | Browse our fully designed UI toolkit! Browse our prebuilt app pages, components, and utilites, and be sure to look at our full documentation!
            .col-xl-4.col-xxl-12.text-center
                img.img-fluid(src='assets/img/illustrations/at-work.svg', style='max-width: 26rem')

