<sbpro-card [classes]='["h-100"]'
    ><div class="card-body h-100 d-flex flex-column justify-content-center py-5 py-xl-4">
        <div class="row gx-4 align-items-center">
            <div class="col-xl-8 col-xxl-12">
                <div class="text-center text-xl-start text-xxl-center px-4 mb-4 mb-xl-0 mb-xxl-4">
                    <h1 class="text-primary">Welcome to SB Admin Pro!</h1>
                    <p class="text-gray-700 mb-0">Browse our fully designed UI toolkit! Browse our prebuilt app pages, components, and utilites, and be sure to look at our full documentation!</p>
                </div>
            </div>
            <div class="col-xl-4 col-xxl-12 text-center"><img class="img-fluid" src="assets/img/illustrations/at-work.svg" style="max-width: 26rem" /></div>
        </div></div
></sbpro-card>
