sbpro-dashboard-head(
    icon='layout',
    title='Boxed Layout',
    description='On larger screens, this layout will keep the page content from expanding beyond a max width.'
)
.container-xl.px-4

    .card.mt-n10
        .card-header Boxed Layout Example
        .card-body
            | This is an example of a page with the default boxed layout. We've expanded Bootstrap by adding a new xxl breakpoint. As the screen width gets larger, the container element will set a max width to the content. The boxed layout uses the max width container element on the page header and in the main page content in this example.
