sbpro-card
    .card-header Expanded Color System
    .card-body
        .border.border-lg.rounded
            .p-4.border-bottom
                .bg-red.text-white.p-3 .bg-red
                .bg-orange.text-white.p-3 .bg-orange
                .bg-yellow.text-white.p-3 .bg-yellow
                .bg-green.text-white.p-3 .bg-green
                .bg-teal.text-white.p-3 .bg-teal
                .bg-cyan.text-white.p-3 .bg-cyan
                .bg-blue.text-white.p-3 .bg-blue
                .bg-indigo.text-white.p-3 .bg-indigo
                .bg-purple.text-white.p-3 .bg-purple
                .bg-pink.text-white.p-3 .bg-pink
            .bg-light.p-4.small.
                SB Admin Pro adds non-contextual colors to the color map so they can be used in the same way you would use Bootstrap colors. 
                These colors are also defined in the color <code>src/styles/sb-admin-pro/variables/_colors.scss</code> file.
