sbpro-card
    .card-header Default Bootstrap Shadows
    .card-body
        .border.border-lg.rounded
            .p-4.border-bottom
                .bg-light.p-3.shadow-none.mb-4
                    | No Shadow
                .bg-white.p-3.shadow-sm.mb-4
                    | Small Shadow
                .bg-white.p-3.shadow.mb-4
                    | Regular Shadow
                .bg-white.p-3.shadow-lg
                    | Large Shadow
            .bg-light.p-4.small.
                The SCSS variables that define the intensity of the box shadow can be modified by overriding the values set in the <code>../variables/_components.scss</code> file.
