sbpro-card
    .card-header Custom Sticky Nav Component
    .card-body
        .border.border-lg.rounded
            .p-4.border-bottom
                | The sticky menu on the side of this page is a demo of the sbpro-toc-nav component.
            .bg-light.p-4.small.
                The <code>sbpro-toc-nav</code> (Table of Contents) component is a custom component
                that simplifies scrollspy behavior.
                The right side menu of the style reference pages are all examples of sbpro-toc being used. 
                <br><br>
                Fore more details, see the
                <a href='https://docs.startbootstrap.com/sb-admin-pro-angular/deep-dive-navigation'>
                Navigation Deep Dive</a>
                Documentation

