sbpro-card
    .card-header Extended Badges
    .card-body
        .sbp-preview
            .sbp-preview-content
                span.badge.bg-red.me-2 Red
                span.badge.bg-orange.me-2 Orange
                span.badge.bg-yellow.me-2 Yellow
                span.badge.bg-green.me-2 Green
                span.badge.bg-teal.me-2 Teal
                span.badge.bg-cyan.me-2 Cyan
                span.badge.bg-blue.me-2 Blue
                span.badge.bg-indigo.me-2 Indigo
                span.badge.bg-purple.me-2 Purple
                span.badge.bg-pink.me-2 Pink

            .sbp-preview-code
                sbpro-code-sample(
                    [codeSamples]='codeSamples',
                )

            .sbp-preview-text.
                The above non-contextual badge styles are custom made for the SB Admin Pro theme!
