<div class="card-deck">
    <sbpro-card-image class="mb-4" src="assets/img/drawkit/color/drawkit-charts-and-graphs.svg" alt="..." placement="top"
        ><div class="card-body">
            <h5 class="card-title text-primary">Interactive Charts</h5>
            <p class="card-text">The interactive charts in this theme are powered by Chart.js, a simple, yet flexible, JavaScript charting library for designers &amp; developers.</p>
        </div>
        <a class="card-footer d-flex align-items-center justify-content-between" routerLink="/charts">View charts<i-feather name="arrow-right"></i-feather></a></sbpro-card-image
    ><sbpro-card-image class="mb-4" src="assets/img/drawkit/color/drawkit-developer-woman.svg" alt="..." placement="top"
        ><div class="card-body">
            <h5 class="card-title text-primary">Documentation</h5>
            <p class="card-text">This theme includes code samples for each component, along with detailed documentation and usage instructions!</p>
        </div>
        <a class="card-footer d-flex align-items-center justify-content-between" href="https://docs.startbootstrap.com/sb-admin-pro-angular/">View documentation<i-feather name="arrow-right"></i-feather></a></sbpro-card-image
    ><sbpro-card-image class="mb-4" src="assets/img/drawkit/color/drawkit-folder-man.svg" alt="..." placement="top"
        ><div class="card-body">
            <h5 class="card-title text-primary">Pre-Built Pages</h5>
            <p class="card-text">A number of pre-built page examples and page layouts are included with this theme to make prototyping your next web application fast and efficient!</p>
        </div>
        <a class="card-footer d-flex align-items-center justify-content-between" routerLink="/dashboard/pages/blank">Explore pages<i-feather name="arrow-right"></i-feather></a></sbpro-card-image
    ><sbpro-card-image class="mb-4" src="assets/img/drawkit/color/drawkit-content-man.svg" alt="..." placement="top"
        ><div class="card-body">
            <h5 class="card-title text-primary">Deep Customization</h5>
            <p class="card-text">Overried and extend the SCSS variables included with this project to deeply customize the theme to make it pefrectly fit your brand!</p>
        </div>
        <a class="card-footer d-flex align-items-center justify-content-between" href="https://docs.startbootstrap.com/sb-admin-pro-angular/deep-dive-styles">Learn more<i-feather name="arrow-right"></i-feather></a
    ></sbpro-card-image>
</div>
