sbpro-card
    .card-header Background Overlay Utility
    .card-body
        .sbp-preview
            .sbp-preview-content
                
                .bg-img-cover.overlay(
                    style='background-image: url("https://source.unsplash.com/cfR-V1QuEKw/1000x600")'
                )
                    div(style='height: 20rem;')

            .sbp-preview-code
                sbpro-code-sample(
                    [codeSamples]='codeSamples',
                )

            .sbp-preview-text.
                Use the <code>.bg-img-cover</code> utility along with a background image set using
                inline CSS and the background image will cover the element it is used on.

sbpro-card(sbproTocItem='Opacity', [headerActions]='true')
    .card-header Opacity
    .card-body
        .sbp-preview
            .sbp-preview-content
                
                .row.gx-4
                    .col-md-4.mb-4
                        .bg-img-cover.overlay.overlay-10(style='background-image: url("https://source.unsplash.com/cfR-V1QuEKw/600x400")')
                            .py-5.px-4.z-1.text-white .overlay-10
                    .col-md-4.mb-4
                        .bg-img-cover.overlay.overlay-20(style='background-image: url("https://source.unsplash.com/cfR-V1QuEKw/600x400")')
                            .py-5.px-4.z-1.text-white .overlay-20
                    .col-md-4.mb-4
                        .bg-img-cover.overlay.overlay-30(style='background-image: url("https://source.unsplash.com/cfR-V1QuEKw/600x400")')
                            .py-5.px-4.z-1.text-white .overlay-30
                    .col-md-4.mb-4
                        .bg-img-cover.overlay.overlay-40(style='background-image: url("https://source.unsplash.com/cfR-V1QuEKw/600x400")')
                            .py-5.px-4.z-1.text-white .overlay-40
                    .col-md-4.mb-4
                        .bg-img-cover.overlay.overlay-50(style='background-image: url("https://source.unsplash.com/cfR-V1QuEKw/600x400")')
                            .py-5.px-4.z-1.text-white .overlay-50
                    .col-md-4.mb-4
                        .bg-img-cover.overlay.overlay-60(style='background-image: url("https://source.unsplash.com/cfR-V1QuEKw/600x400")')
                            .py-5.px-4.z-1.text-white .overlay-60
                    .col-md-4.mb-4.mb-md-0
                        .bg-img-cover.overlay.overlay-70(style='background-image: url("https://source.unsplash.com/cfR-V1QuEKw/600x400")')
                            .py-5.px-4.z-1.text-white .overlay-70
                    .col-md-4.mb-4.mb-md-0
                        .bg-img-cover.overlay.overlay-80(style='background-image: url("https://source.unsplash.com/cfR-V1QuEKw/600x400")')
                            .py-5.px-4.z-1.text-white .overlay-80
                    .col-md-4
                        .bg-img-cover.overlay.overlay-90(style='background-image: url("https://source.unsplash.com/cfR-V1QuEKw/600x400")')
                            .py-5.px-4.z-1.text-white .overlay-90

            .sbp-preview-code
                sbpro-code-sample(
                    [codeSamples]='codeSamplesOpacity',
                )

            .sbp-preview-text.
                Use the <code>.overlay</code> utility along with an opacity utility,
                10-90, to change the opacity of the overlay.

sbpro-card(sbproTocItem='Colors', [headerActions]='true')
    .card-header Colors
    .card-body
        .sbp-preview
            .sbp-preview-content
                
                .row.gx-4
                    .col-md-4.mb-4
                        .bg-img-cover.overlay.overlay-primary(style='background-image: url("https://source.unsplash.com/cfR-V1QuEKw/600x400")')
                            .py-5.px-4.z-1.text-white .overlay-primary
                    .col-md-4.mb-4
                        .bg-img-cover.overlay.overlay-secondary(style='background-image: url("https://source.unsplash.com/cfR-V1QuEKw/600x400")')
                            .py-5.px-4.z-1.text-white .overlay-secondary
                    .col-md-4.mb-4
                        .bg-img-cover.overlay.overlay-success(style='background-image: url("https://source.unsplash.com/cfR-V1QuEKw/600x400")')
                            .py-5.px-4.z-1.text-white .overlay-success
                    .col-md-4.mb-4.mb-md-0
                        .bg-img-cover.overlay.overlay-info(style='background-image: url("https://source.unsplash.com/cfR-V1QuEKw/600x400")')
                            .py-5.px-4.z-1.text-white .overlay-info
                    .col-md-4.mb-4.mb-md-0
                        .bg-img-cover.overlay.overlay-warning(style='background-image: url("https://source.unsplash.com/cfR-V1QuEKw/600x400")')
                            .py-5.px-4.z-1.text-white .overlay-warning
                    .col-md-4
                        .bg-img-cover.overlay.overlay-danger(style='background-image: url("https://source.unsplash.com/cfR-V1QuEKw/600x400")')
                            .py-5.px-4.z-1.text-white .overlay-danger

            .sbp-preview-code
                sbpro-code-sample(
                    [codeSamples]='codeSamplesColors',
                )

            .sbp-preview-text.
                Use the <code>.overlay</code> utility along with an overlay color utility, for example,
                <code>.overlay-primary</code>.
                You can also use overlay colors that are part of the extended color system,
                like <code>.overlay-red</code>.

sbpro-card(sbproTocItem='Combining Overlay Utilities', [headerActions]='true')
    .card-header Combining Overlay Utilities
    .card-body
        .sbp-preview
            .sbp-preview-content
                
                .bg-img-cover.overlay.overlay-70.overlay-primary(style='background-image: url("https://source.unsplash.com/cfR-V1QuEKw/1000x600")')
                    div(style='height: 20rem;')

            .sbp-preview-code
                sbpro-code-sample(
                    [codeSamples]='codeSamplesCombining',
                )

            .sbp-preview-text.
                The overlay opacity and overlay color utilities can be used together.
                In the above example, we use the <code>.overlay</code> utility with <code>.overlay-70</code>
                and <code>.overlay-primary</code>.