<sbpro-dashboard-head icon="life-buoy" title="Knowledge Base" description="What are you looking for? Our knowledge base is here to help." [simplified]="true" [showSearch]="true"></sbpro-dashboard-head>
<div class="container-xl px-4">
    <!-- Knowledge base category-->
    <h2 class="mb-0 mt-5">Category Name</h2>
    <hr class="mt-2 mb-4" />
    <!-- Knowledge base item--><a class="card card-icon lift lift-sm mb-4" routerLink="/dashboard/knowledge-base/article"
        ><div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
                <div class="h5 card-title mb-0">How to update your billing information</div>
                <i-feather class="flex-shrink-0 ms-4" name="chevron-right"></i-feather>
            </div></div></a
    ><!-- Knowledge base item--><a class="card card-icon lift lift-sm mb-4" routerLink="/dashboard/knowledge-base/article"
        ><div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
                <div class="h5 card-title mb-0">Integrating with the API</div>
                <i-feather class="flex-shrink-0 ms-4" name="chevron-right"></i-feather>
            </div></div></a
    ><!-- Knowledge base item--><a class="card card-icon lift lift-sm mb-4" routerLink="/dashboard/knowledge-base/article"
        ><div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
                <div class="h5 card-title mb-0">Setting up new accounts within our platform</div>
                <i-feather class="flex-shrink-0 ms-4" name="chevron-right"></i-feather>
            </div></div></a
    ><!-- Knowledge base item--><a class="card card-icon lift lift-sm mb-4" routerLink="/dashboard/knowledge-base/article"
        ><div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
                <div class="h5 card-title mb-0">Accessing and editing order details</div>
                <i-feather class="flex-shrink-0 ms-4" name="chevron-right"></i-feather>
            </div></div></a
    ><!-- Knowledge base item--><a class="card card-icon lift lift-sm mb-4" routerLink="/dashboard/knowledge-base/article"
        ><div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
                <div class="h5 card-title mb-0">Installation instructions for Windows 10 users</div>
                <i-feather class="flex-shrink-0 ms-4" name="chevron-right"></i-feather>
            </div></div></a
    ><!-- Knowledge base item--><a class="card card-icon lift lift-sm mb-4" routerLink="/dashboard/knowledge-base/article"
        ><div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
                <div class="h5 card-title mb-0">Installation instructions for Mac OSX users</div>
                <i-feather class="flex-shrink-0 ms-4" name="chevron-right"></i-feather>
            </div></div></a
    ><!-- knowledge base rating-->
    <div class="text-center mt-5">
        <h4 class="mb-3">Was this page helpful?</h4>
        <div class="mb-3">
            <button class="btn btn-primary mx-2 px-3" role="button"><i-feather class="me-2" name="thumbs-up"></i-feather>Yes</button><button class="btn btn-primary mx-2 px-3" role="button"><i-feather class="me-2" name="thumbs-down"></i-feather>No</button>
        </div>
        <div class="text-small text-muted"><em>29 people found this page helpful so far!</em></div>
    </div>
</div>
