form.form-inline.me-auto.d-none.d-lg-block.me-3
    .input-group.input-group-joined.input-group-solid
        input.form-control.me-sm-2(
            type='search',
            placeholder='Search',
            aria-label='Search'
        )
        .input-group-text
            i-feather(name='search')

