sbpro-card
    .card-header Joined Input Group
    .card-body
        .sbp-preview
            .sbp-preview-content
                .input-group.input-group-joined.mb-4
                    input.form-control(type='text', placeholder='Input group append...', aria-label='Search')
                    .input-group-text
                        i-feather(name='search')

                .input-group.input-group-joined.mb-4
                    .input-group-text
                        i-feather(name='search')
                    input.form-control(type='text', placeholder='Input group prepend...', aria-label='Search')

                .input-group.input-group-joined.input-group-solid.mb-4
                    input.form-control(type='text', placeholder='Input group append...', aria-label='Search')
                    .input-group-text
                        i-feather(name='search')

                .input-group.input-group-joined.input-group-solid
                    .input-group-text
                        i-feather(name='search')
                    input.form-control(type='text', placeholder='Input group prepend...', aria-label='Search')

            .sbp-preview-code
                sbpro-code-sample(
                    [codeSamples]='codeSamples',
                )

            .sbp-preview-text.
                The joined input group uses the <code>:focus-within</code> CSS pseudo class to join 
                input group appends and prepends within an input group. 
                Unlike Bootstrap's default input group behavior, 
                these joined input group variations will focus the entire input group when the form
                control within is selected. 
                This variation also removes the background and border coloring of the append and 
                prepend elements for a smooth, and seamless input group appearance.