sbpro-dashboard-head-compact(
    title='Compact Page Header',
    icon='file'
)
    button.btn.btn-sm.btn-light.text-primary.active.me-2 Today
    button.btn.btn-sm.btn-light.text-primary.me-2 Month
    button.btn.btn-sm.btn-light.text-primary Year

.container-xl.px-4
    .card
        .card-header Compact Page Header Example
        .card-body.
            This compact page header example strips down the page header element to create a seamless, slim page header.
