<sb-layout-auth
    ><div class="container-xl px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-11">
                <div class="card border-0 shadow-lg mt-5">
                    <div class="card-body p-5 text-center">
                        <div class="icons-org-join"><i-feather class="icon-user" name="user"></i-feather><fa-icon class="icon-arrow" [icon]='["fas", "long-arrow-alt-right"]'></fa-icon><i-feather class="icon-users" name="users"></i-feather></div>
                        <div class="h3 text-secondary fw-300 mb-0">Join an Organization</div>
                    </div>
                    <hr class="m-0" />
                    <div class="card-body p-5">
                        <form [formGroup]="organizationJoinFormCode" (ngSubmit)="onSubmitCode()">
                            <h5 class="fw-500 mb-3">Have an access code?</h5>
                            <div class="mb-3">
                                <input class="form-control form-control-solid" id="codeInput" data-cy="codeInput" type="text" placeholder="Enter access code" aria-label="Access Code" formControlName="code" [class.is-valid]="codeControlValid" [class.is-invalid]="codeControlInvalid" />
                                <div class="invalid-feedback" *ngIf='codeControl.hasError("required")'>Code required</div>
                                <div class="invalid-feedback" *ngIf='codeControl.hasError("code")'>Code not recognized</div>
                            </div>
                            <div class="d-grid"><button class="btn btn-secondary" data-cy="accessCodeButton" type="submit" [disabled]="organizationJoinFormCode.invalid">Request</button></div>
                        </form>
                    </div>
                    <div class="org-or-divider"><div class="org-or">or</div></div>
                    <div class="card-body p-5">
                        <form [formGroup]="organizationJoinFormRequest" (ngSubmit)="onSubmitRequest()">
                            <h5 class="fw-500 mb-3">Request access</h5>
                            <div class="mb-3">
                                <input class="form-control form-control-solid" id="joinNameInput" data-cy="joinNameInput" type="text" placeholder="Existing organization name" aria-label="Organization Name" formControlName="name" [class.is-valid]="nameControlValid" [class.is-invalid]="nameControlInvalid" />
                                <div class="invalid-feedback" *ngIf='nameControl.hasError("required")'>Name required</div>
                                <div class="invalid-feedback" *ngIf='nameControl.hasError("name")'>Organization not recognized</div>
                            </div>
                            <div class="d-grid"><button class="btn btn-secondary" data-cy="joinOrgNamedButton" type="submit" [disabled]="organizationJoinFormRequest.invalid">Join</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div></sb-layout-auth
><ng-template #confirmationModalAccessCode let-modal
    ><div class="modal-header">
        <h5 class="modal-title">Access Code</h5>
        <button class="btn-close" type="button" aria-label="Close" (click)='modal.dismiss("Cross click")'><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
        Wired up and ready to go. Just add a backend. <br /><br />
        code: <code>{{organizationJoinFormCode.value.code}}</code>
    </div>
    <div class="modal-footer"><button class="btn btn-secondary" type="button" (click)="modal.close()">Close</button><button class="btn btn-primary" type="button" (click)='modal.close("DASHBOARD")'>Proceed back to Dashboard</button></div></ng-template
><ng-template #confirmationModalRequest let-modal
    ><div class="modal-header">
        <h5 class="modal-title">Request Access</h5>
        <button class="btn-close" type="button" aria-label="Close" (click)='modal.dismiss("Cross click")'><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
        Wired up and ready to go. Just add a backend. <br /><br />
        name: <code>{{organizationJoinFormRequest.value.name}}</code>
    </div>
    <div class="modal-footer"><button class="btn btn-secondary" type="button" (click)="modal.close()">Close</button><button class="btn btn-primary" type="button" (click)='modal.close("DASHBOARD")'>Proceed back to Dashboard</button></div></ng-template
>
