sbpro-card
    .card-header Custom Icon Buttons
    .card-body
        .sbp-btn-example.mb-4
            h6.small.text-muted.fw-500 Icon Buttons (Feather Icons):
            .sbp-preview.mb-4
                .sbp-preview-content
                    button.my-1.me-2.btn.btn-red.btn-icon(type='button')
                        i-feather(name='feather')
                    button.my-1.me-2.btn.btn-orange.btn-icon(type='button')
                        i-feather(name='feather')
                    button.my-1.me-2.btn.btn-yellow.btn-icon(type='button')
                        i-feather(name='feather')
                    button.my-1.me-2.btn.btn-green.btn-icon(type='button')
                        i-feather(name='feather')
                    button.my-1.me-2.btn.btn-teal.btn-icon(type='button')
                        i-feather(name='feather')
                    button.my-1.me-2.btn.btn-cyan.btn-icon(type='button')
                        i-feather(name='feather')
                    button.my-1.me-2.btn.btn-blue.btn-icon(type='button')
                        i-feather(name='feather')
                    button.my-1.me-2.btn.btn-indigo.btn-icon(type='button')
                        i-feather(name='feather')
                    button.my-1.me-2.btn.btn-purple.btn-icon(type='button')
                        i-feather(name='feather')
                    button.my-1.me-2.btn.btn-pink.btn-icon(type='button')
                        i-feather(name='feather')

                .sbp-preview-code
                    sbpro-code-sample(
                        [codeSamples]='codeSamplesFeather',
                    )

                .sbp-preview-text.
                    Our custom icon button component is circular by default, and looks great when used with Feather Icons, which are included with this theme.

        .sbp-btn-example.mb-4
            h6.small.text-muted.fw-500 Icon Buttons (Font Awesome Icons):
            .sbp-preview.mb-4
                .sbp-preview-content
                    button.my-1.me-2.btn.btn-red.btn-icon(type='button')
                        fa-icon([icon]='["fas", "flag"]')
                    button.my-1.me-2.btn.btn-orange.btn-icon(type='button')
                        fa-icon([icon]='["fas", "flag"]')
                    button.my-1.me-2.btn.btn-yellow.btn-icon(type='button')
                        fa-icon([icon]='["fas", "flag"]')
                    button.my-1.me-2.btn.btn-green.btn-icon(type='button')
                        fa-icon([icon]='["fas", "flag"]')
                    button.my-1.me-2.btn.btn-teal.btn-icon(type='button')
                        fa-icon([icon]='["fas", "flag"]')
                    button.my-1.me-2.btn.btn-cyan.btn-icon(type='button')
                        fa-icon([icon]='["fas", "flag"]')
                    button.my-1.me-2.btn.btn-blue.btn-icon(type='button')
                        fa-icon([icon]='["fas", "flag"]')
                    button.my-1.me-2.btn.btn-indigo.btn-icon(type='button')
                        fa-icon([icon]='["fas", "flag"]')
                    button.my-1.me-2.btn.btn-purple.btn-icon(type='button')
                        fa-icon([icon]='["fas", "flag"]')
                    button.my-1.me-2.btn.btn-pink.btn-icon(type='button')
                        fa-icon([icon]='["fas", "flag"]')

                .sbp-preview-code
                    sbpro-code-sample(
                        [codeSamples]='codeSamplesFontAwesome',
                    )

                .sbp-preview-text.
                    Use our icon buttons with Font Awesome as well!
        
        .sbp-btn-example.mb-4        
            h6.small.text-muted.fw-500 Icon Buttons (Text):
            .sbp-preview.mb-4
                .sbp-preview-content
                    button.my-1.me-2.btn.btn-red.btn-icon(type='button') S
                    button.my-1.me-2.btn.btn-orange.btn-icon(type='button') B
                    button.my-1.me-2.btn.btn-yellow.btn-icon(type='button') A
                    button.my-1.me-2.btn.btn-green.btn-icon(type='button') D
                    button.my-1.me-2.btn.btn-teal.btn-icon(type='button') M
                    button.my-1.me-2.btn.btn-cyan.btn-icon(type='button') I
                    button.my-1.me-2.btn.btn-blue.btn-icon(type='button') N
                    button.my-1.me-2.btn.btn-indigo.btn-icon(type='button') P
                    button.my-1.me-2.btn.btn-purple.btn-icon(type='button') R
                    button.my-1.me-2.btn.btn-pink.btn-icon(type='button') O

                .sbp-preview-code
                    sbpro-code-sample(
                        [codeSamples]='codeSamplesText',
                    )

                .sbp-preview-text.
                    Icon buttons use a fixed height and width, so you can use them with short strings of text, one or two characters long.
        
        .sbp-btn-example  
            h6.small.text-muted.fw-500 Icon Buttons (Outline Styling):
            .sbp-preview.mb-4
                .sbp-preview-content
                    button.my-1.me-2.btn.btn-outline-red.btn-icon(type='button')
                        i-feather(name='zap')
                    button.my-1.me-2.btn.btn-outline-orange.btn-icon(type='button')
                        i-feather(name='archive')
                    button.my-1.me-2.btn.btn-outline-yellow.btn-icon(type='button')
                        i-feather(name='alert-triangle')
                    button.my-1.me-2.btn.btn-outline-green.btn-icon(type='button')
                        i-feather(name='check')
                    button.my-1.me-2.btn.btn-outline-teal.btn-icon(type='button')
                        i-feather(name='award')
                    button.my-1.me-2.btn.btn-outline-cyan.btn-icon(type='button')
                        i-feather(name='info')
                    button.my-1.me-2.btn.btn-outline-blue.btn-icon(type='button')
                        i-feather(name='cloud-rain')
                    button.my-1.me-2.btn.btn-outline-indigo.btn-icon(type='button')
                        i-feather(name='activity')
                    button.my-1.me-2.btn.btn-outline-purple.btn-icon(type='button')
                        i-feather(name='user')
                    button.my-1.me-2.btn.btn-outline-pink.btn-icon(type='button')
                        i-feather(name='droplet')

                .sbp-preview-code
                    sbpro-code-sample(
                        [codeSamples]='codeSamplesOutline',
                    )

                .sbp-preview-text.
                    Icon buttons also support the outline button styling!
