<sbpro-dashboard-head icon="activity" title="Dashboard" description="Example dashboard overview and content summary"></sbpro-dashboard-head>
<div class="container-xl px-4 mt-n10">
    <sbpro-dashboard-multi-click-cards></sbpro-dashboard-multi-click-cards>
    <div class="row gx-4">
        <div class="col-xxl-8">
            <sbpro-dashboard-multi-card></sbpro-dashboard-multi-card><sbpro-dashboard-multi-custom-report></sbpro-dashboard-multi-custom-report>
            <div class="row gx-4">
                <div class="col-xl-6 mb-4"><sbpro-dashboard-recent-activity></sbpro-dashboard-recent-activity></div>
                <div class="col-xl-6 mb-4"><sbpro-dashboard-multi-traffic-sources></sbpro-dashboard-multi-traffic-sources></div>
            </div>
        </div>
        <div class="col-xxl-4">
            <div class="row gx-4">
                <div class="col-xl-6 col-xxl-12"><sbpro-dashboard-multi-people></sbpro-dashboard-multi-people></div>
                <div class="col-xl-6 col-xxl-12"><sbpro-dashboard-multi-projects></sbpro-dashboard-multi-projects></div>
            </div>
            <sbpro-dashboard-multi-team></sbpro-dashboard-multi-team>
        </div>
    </div>
</div>
