.row.gx-4
    .col-xl-4.mb-4
        a.card.lift.h-100(href='javascript:void(0);')
            .card-body.d-flex.justify-content-center.flex-column
                .d-flex.align-items-center.justify-content-between
                    .me-3
                        i-feather.feather-xl.text-danger.mb-3(name='message-circle')
                        h5 Pending Requests
                        .text-muted.small Tenant Details and Inquiries
                    img(src='assets/img/illustrations/browser-stats.svg', alt='...', style='width: 8rem;')
    .col-xl-4.mb-4
        a.card.lift.h-100(href='javascript:void(0);')
            .card-body.d-flex.justify-content-center.flex-column
                .d-flex.align-items-center.justify-content-between
                    .me-3
                        i-feather.feather-xl.text-yellow.mb-3(name='feather')
                        h5 On Going Requests
                        .text-muted.small Keeping you on track with your on going tasks
                    img(src='assets/img/illustrations/processing.svg', alt='...', style='width: 8rem;')
    .col-xl-4.mb-4
        a.card.lift.h-100(href='javascript:void(0);')
            .card-body.d-flex.justify-content-center.flex-column
                .d-flex.align-items-center.justify-content-between
                    .me-3
                        i-feather.feather-xl.text-success.mb-3(name='check-square')
                        h5 Task Completion
                        .text-muted.small To keep you on track with your finished tasks
                    img(src='assets/img/illustrations/windows.svg', alt='...', style='width: 8rem;')
    
