.row.gx-4
    .col-xl-4.mb-4
        a.card.lift.h-100(href='javascript:void(0);')
            .card-body.d-flex.justify-content-center.flex-column
                .d-flex.align-items-center.justify-content-between
                    .me-3
                        i-feather.feather-xl.text-primary.mb-3(name='package')
                        h5 Powerful Components
                        .text-muted.small To create informative visual elements on your pages
                    img(src='assets/img/illustrations/browser-stats.svg', alt='...', style='width: 8rem;')
    .col-xl-4.mb-4
        a.card.lift.h-100(href='javascript:void(0);')
            .card-body.d-flex.justify-content-center.flex-column
                .d-flex.align-items-center.justify-content-between
                    .me-3
                        i-feather.feather-xl.text-secondary.mb-3(name='book')
                        h5 Documentation
                        .text-muted.small To keep you on track when working with our toolkit
                    img(src='assets/img/illustrations/processing.svg', alt='...', style='width: 8rem;')
    .col-xl-4.mb-4
        a.card.lift.h-100(href='javascript:void(0);')
            .card-body.d-flex.justify-content-center.flex-column
                .d-flex.align-items-center.justify-content-between
                    .me-3
                        i-feather.feather-xl.text-green.mb-3(name='layout')
                        h5 Pages &amp; Layouts
                        .text-muted.small To help get you started when building your new UI
                    img(src='assets/img/illustrations/windows.svg', alt='...', style='width: 8rem;')
