<div class="row gx-4">
    <div class="col-xl-4 mb-4">
        <a class="card lift h-100" href="javascript:void(0);"
            ><div class="card-body d-flex justify-content-center flex-column">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="me-3">
                        <i-feather class="feather-xl text-primary mb-3" name="package"></i-feather>
                        <h5>Powerful Components</h5>
                        <div class="text-muted small">To create informative visual elements on your pages</div>
                    </div>
                    <img src="assets/img/illustrations/browser-stats.svg" alt="..." style="width: 8rem" />
                </div></div
        ></a>
    </div>
    <div class="col-xl-4 mb-4">
        <a class="card lift h-100" href="javascript:void(0);"
            ><div class="card-body d-flex justify-content-center flex-column">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="me-3">
                        <i-feather class="feather-xl text-secondary mb-3" name="book"></i-feather>
                        <h5>Documentation</h5>
                        <div class="text-muted small">To keep you on track when working with our toolkit</div>
                    </div>
                    <img src="assets/img/illustrations/processing.svg" alt="..." style="width: 8rem" />
                </div></div
        ></a>
    </div>
    <div class="col-xl-4 mb-4">
        <a class="card lift h-100" href="javascript:void(0);"
            ><div class="card-body d-flex justify-content-center flex-column">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="me-3">
                        <i-feather class="feather-xl text-green mb-3" name="layout"></i-feather>
                        <h5>Pages &amp; Layouts</h5>
                        <div class="text-muted small">To help get you started when building your new UI</div>
                    </div>
                    <img src="assets/img/illustrations/windows.svg" alt="..." style="width: 8rem" />
                </div></div
        ></a>
    </div>
</div>
