<div class="row gx-4">
    <div class="col-xl-4 mb-4">
        <a class="card lift h-100" href="javascript:void(0);"
            ><div class="card-body d-flex justify-content-center flex-column">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="me-3">
                        <i-feather class="feather-xl text-danger mb-3" name="message-circle"></i-feather>
                        <h5>Pending Requests</h5>
                        <div class="text-muted small">Tenant Details and Inquiries</div>
                    </div>
                    <img src="assets/img/illustrations/browser-stats.svg" alt="..." style="width: 8rem" />
                </div></div
        ></a>
    </div>
    <div class="col-xl-4 mb-4">
        <a class="card lift h-100" href="javascript:void(0);"
            ><div class="card-body d-flex justify-content-center flex-column">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="me-3">
                        <i-feather class="feather-xl text-yellow mb-3" name="feather"></i-feather>
                        <h5>On Going Requests</h5>
                        <div class="text-muted small">Keeping you on track with your on going tasks</div>
                    </div>
                    <img src="assets/img/illustrations/processing.svg" alt="..." style="width: 8rem" />
                </div></div
        ></a>
    </div>
    <div class="col-xl-4 mb-4">
        <a class="card lift h-100" href="javascript:void(0);"
            ><div class="card-body d-flex justify-content-center flex-column">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="me-3">
                        <i-feather class="feather-xl text-success mb-3" name="check-square"></i-feather>
                        <h5>Task Completion</h5>
                        <div class="text-muted small">To keep you on track with your finished tasks</div>
                    </div>
                    <img src="assets/img/illustrations/windows.svg" alt="..." style="width: 8rem" />
                </div></div
        ></a>
    </div>
</div>
