<sbpro-dashboard-head-compact title="Account Settings - Files" icon="user"></sbpro-dashboard-head-compact
><!-- Main page content-->
<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <nav class="nav nav-borders"><a class="nav-link" routerLink="/dashboard/account/profile">Profile</a><a class="nav-link active" routerLink="/dashboard/account/files">Files</a><a class="nav-link" routerLink="/dashboard/account/security">Security</a><a class="nav-link" routerLink="/dashboard/account/notifications">Notifications</a><a class="nav-link" routerLink="/dashboard/account/administrator">Administrator</a></nav>
    <hr class="mt-0 mb-4" />
    <div class="row gx-4">
        <div class="col-lg-8">
            <!-- Identification File Directory Card-->
            <div class="card mb-4">
                <div class="card-header">Identification File Directory</div>
                <div class="card-body"><file-upload-table [pageSize]="4"></file-upload-table></div>
            </div>
        </div>
        <div class="col-lg-4">
            <!-- File Upload Card-->
            <div class="card mb-4">
                <div class="card-header">File Upload</div>
                <div class="card-body text-center">
                    <form (ngSubmit)="imageSubmit()">
                        <select class="form-control" id="inputCountry" name="selected_file_type" [(ngModel)]="this.selected_file_type">
                            <option value="">File Type</option>
                            <option *ngFor="let flList of file_type_list" value="{{ flList.id }}">{{ flList.identification_name }}</option></select
                        ><br /><!-- File upload button--><input class="form-control" id="document" type="file" name="document" (change)="onFileSelect($event)" /><!-- File help block-->
                        <div class="small font-italic text-muted mb-4">PNG no larger than 5 MB</div>
                        <button class="btn btn-primary" type="submit">Upload</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #notificationModal let-modal
    ><div class="modal-header">
        <h5 class="modal-title">File Upload - Warning!</h5>
        <button class="btn-close" type="button" aria-label="Close" (click)='modal.dismiss("Cross click")'><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">{{ notifMessage }}</div>
    <div class="modal-footer"><button class="btn btn-secondary" type="button" (click)="modal.close()">Ok</button></div></ng-template
>
