<sbpro-dashboard-head-compact title="Account Settings - Files" icon="user"></sbpro-dashboard-head-compact
><!-- Main page content-->
<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <nav class="nav nav-borders"><a class="nav-link" routerLink="/dashboard/account/profile">Profile</a><a class="nav-link active" routerLink="/dashboard/account/files">Files</a><a class="nav-link" routerLink="/dashboard/account/security">Security</a><a class="nav-link" routerLink="/dashboard/account/notifications">Notifications</a></nav>
    <hr class="mt-0 mb-4" />
    <div class="row gx-4">
        <div class="col-lg-8">
            <!-- Change password card-->
            <div class="card mb-4">
                <div class="card-header">Indentification File Directory</div>
                <div class="card-body"><file-upload-table [pageSize]="4"></file-upload-table></div>
            </div>
        </div>
        <div class="col-lg-4">
            <!-- Two factor authentication card-->
            <div class="card mb-4">
                <div class="card-header">File Upload</div>
                <div class="card-body">
                    <p>Add another level of security to your account by enabling two-factor authentication. We will send you a text message to verify your login attempts on unrecognized devices and browsers.</p>
                    <form>
                        <div class="mb-3">
                            <div class="form-check"><input class="form-check-input" id="twoFactorOn" type="radio" name="radioUsage" checked disabled /><label class="form-check-label" for="twoFactorOn">On</label></div>
                            <div class="form-check"><input class="form-check-input" id="twoFactorOff" type="radio" name="radioUsage" disabled /><label class="form-check-label" for="twoFactorOff">Off</label></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
