sbpro-dashboard-head-compact(
    title='Account Settings - Files',
    icon='user'
)

// Main page content
.container-xl.px-4.mt-4
    // Account page navigation
    nav.nav.nav-borders
        a.nav-link(routerLink='/dashboard/account/profile') Profile
        a.nav-link.active(routerLink='/dashboard/account/files') Files
        a.nav-link(routerLink='/dashboard/account/security') Security
        a.nav-link(routerLink='/dashboard/account/notifications') Notifications
    hr.mt-0.mb-4
    .row.gx-4
        .col-lg-8
            // Change password card
            .card.mb-4
                .card-header Indentification File Directory
                .card-body
                    file-upload-table([pageSize]='4')

        .col-lg-4
            // Two factor authentication card
            .card.mb-4
                .card-header File Upload
                .card-body
                    p Add another level of security to your account by enabling two-factor authentication. We will send you a text message to verify your login attempts on unrecognized devices and browsers.
                    form
                        .mb-3
                            .form-check
                                input#twoFactorOn.form-check-input(type='radio', name='radioUsage', checked disabled)
                                label.form-check-label(for='twoFactorOn') On
                            .form-check
                                input#twoFactorOff.form-check-input(type='radio', name='radioUsage' disabled)
                                label.form-check-label(for='twoFactorOff') Off