.card
    .card-body.text-center.p-5
        img.img-fluid.mb-4(src='assets/img/illustrations/team-spirit.svg', alt='', style='max-width: 16.25rem')
        h5 Team Access
        p.mb-4 Upgrade your plan to get access to team collaboration tools.
        a.btn.btn-primary.p-3(href='javascript:void(0);') Upgrade 
